.card-group,
.form-review {
  width: 90%;
}

.card-top .user-img {
  width: 2.3rem;
  height: 2.3rem;
}

.form-review div {
  width: 100%;
}

.form-floating textarea {
  min-height: 100px;
}

@media screen and (min-width: 768px) {
  .card-group {
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .card-group,
  .form-review {
    width: 75%;
  }

  .form-review div {
    width: 50%;
  }
}
