@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

:root {
  --primary: #cd8a5b;
  --secondary: #00adef;
  --third: #ffffff;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
}

* {
  outline: none;
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
}
.navbar {
  background: #efe6e6;
}

.suscripcion {
  background-color: var(--primary);
}

li a:hover {
  text-decoration: underline;
}
.logo {
  height: 48px;
}

.image {
  width: 70%;
  height: auto;
}

.perfil-nosotros {
  background: rgba(0, 0, 0, 0.08);
}

.fa-brands {
  font-size: 2.25rem;
}

header {
  height: 50vh;
  background: url(../img/cadillal.jpg);
}

.logo-nosotros {
  width: 20%;
  height: auto;
}

footer {
  background: #efe6e6;
}

@media screen and (min-width: 768px) {
  .image {
    width: 100%;
    height: auto;
  }
  header {
    height: 60vh;
  }
}

@media screen and (min-width: 1024px) {
  header {
    height: 70vh;
  }

  .image {
    width: 80%;
    height: auto;
  }
}
