.image {
  width: 70%;
  height: auto;
}

.perfil-nosotros {
  background: rgba(0, 0, 0, 0.08);
}

.fa-brands {
  font-size: 2.25rem;
}

header {
  height: 50vh;
  background: url(../img/cadillal.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

a {
  color: black;
}

a:hover {
  color: #00adef;
}

@media screen and (min-width: 768px) {
  .image {
    width: 100%;
    height: auto;
  }
  header {
    height: 60vh;
  }
}

@media screen and (min-width: 1024px) {
  header {
    height: 70vh;
  }

  .card {
    width: 80vw;
  }

  .image {
    width: 80%;
    height: auto;
  }
}
