@import url("./login.module.css");
@import url("./galeria.css");

.carousel img {
  height: 50vh;
}

.commercial {
  height: 500px;
}

.urlnotfound-number {
  font-weight: bold;
  font-size: 100px;
}

.tuc-color-lightblue {
  color: #00adef;
}

.urlnotfound-bg-tuc {
  background-image: url(/img/bg-urlnotfound.jpg);
}

.draw-gps-tuc {
  width: 45%;
}

.a-urlnotfound-tuc {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4em;
  color: #cd8a5b;
}

.logo-footer{
  width: 18em;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
}

/* Estilos para el footer */
.footer {
  background-color: #f8f9fa;
}

.footer h3 {
  color: #343a40;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer p {
  color: #6c757d;
  font-size: 16px;
  line-height: 24px;
}


@media screen and (min-width: 768px) {
  .carousel img {
    height: 65vh;
  }
  aside {
    width: 40vw;
  }
  main {
    width: 60vw;
  }
}

@media screen and (min-width: 1024px) {
  .carousel img {
    height: 90vh;
  }
  aside {
    width: 30vw;
  }
  main {
    width: 70vw;
  }
}
