@import url("./login.module.css");

h1 {
  color: brown;
}

.carousel img {
  height: 50vh;
}

.commercial {
  height: 500px;
}

@media screen and (min-width: 768px) {
  .carousel img {
    height: 65vh;
  }
  aside {
    width: 40vw;
  }
  main {
    width: 60vw;
  }
}

@media screen and (min-width: 1024px) {
  .carousel img {
    height: 90vh;
  }
  aside {
    width: 30vw;
  }
  main {
    width: 70vw;
  }
}
