@import url("./login.module.css");

h1 {
  color: brown;
}

.carousel img {
  height: 50vh;
}

.commercial {
  height: 500px;
}

.urlnotfound-number{
  font-weight: bold;
  font-size: 100px;
}

.tuc-color-lightblue{
  color: #00adef;
}

.urlnotfound-bg-tuc{
  background-image: url(/img/bg-urlnotfound.jpg);
}

.draw-gps-tuc{
  width: 45%;
}

.a-urlnotfound-tuc{
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4em;
  color: #cd8a5b;
}

@media screen and (min-width: 768px) {
  .carousel img {
    height: 65vh;
  }
  aside {
    width: 40vw;
  }
  main {
    width: 60vw;
  }
}

@media screen and (min-width: 1024px) {
  .carousel img {
    height: 90vh;
  }
  aside {
    width: 30vw;
  }
  main {
    width: 70vw;
  }
}
